

@font-face {
  font-family: 'poppins';
  src: local('poppins'), url(/public/Fonts/Poppins-Light.ttf) format('ttf');
}

#root{
  font-family: poppins;
}



@media only screen and (max-width: 1223px) {
  #sizeItDown {
    width: 800px;
    height:auto;
    
  }

}
@media only screen and (max-width: 1223px) {
  #busDesc {
    width:100%
    
  }

}

@media only screen and (max-width: 1223px) {
  #topCard,#contact{
padding:20px
  }

}
@media only screen and (max-width: 1223px) {
  #contact {
    align-self: center;
    display:flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    
  }}

  @media only screen and (max-width: 614px) {
    #cardHeader{
  display:"flex";
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  
    }
  
  }

  @media only screen and (max-width: 614px) {
 #reviewCard{
  display:"flex";
  flex-direction: column;
  flex-wrap: wrap;
 
  
    }
  
  }
  @media only screen and (max-width: 614px) {
    #userReviewCard{
     display:"flex";
     flex-direction: column;
     flex-wrap: wrap;
    justify-content: space-evenly;
     
       }
     
     }
     
 

 @media only screen and (max-width: 1223px) {
    #businessCardContainer{
     flex-direction: column;
     /* width:98.5vw */
     
       }
     
     } 

  
          @media only screen and (max-width: 600px) {
          .reviewCard {
           max-width:350px;
           min-height:45vh;
           
             }
           
           } 
           @media only screen and (max-width: 600px) {
            #categoryBox {
              max-width:350px;
             min-height:41vh;
             
               }
             
             } 
           
          @media only screen and (max-width: 600px) {
            #businessCardHomepage {
              max-width:350px;
              min-height:40vh;
             
               }
             
             } 
             @media only screen and (max-height: 810px) {
              .carousel-caption {
                display:none
               
                 }
               
               } 
             
              @media only screen and (max-height: 810px) {
               .captionSlider {
                 display:none
              
                  }
                
                } 
               
 
                @media only screen and (max-height: 810px) {
                  .sliderTextActual {
                    display:none
                  
                     }
                   
                   } 
             